.form {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 29px;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    cursor: pointer;
  }
  
  .form:hover {
    transform: scale(1.05);
    border: 1px solid black;
  }  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.5em; */
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button1:hover {
    background-color: black;
    color: white;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
  .button3 {
    margin-bottom: 10px;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  .k{
    cursor: pointer;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }
 
  @media (max-width:500px) {
    .form{
      width: 100% !important;
      margin-top:0 ;

    }
  }
  .login-container {
    background-color: #2f2f2f;
    border-radius: 8px;
    box-shadow: rgb(31 31 31 / 17%) 0px -23px 25px 0px inset,
      rgb(108 108 108 / 23%) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .heading {
    color: #ffffff;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 5px;
  }
  
  .paragraph {
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group input {
    background: none;
    border: 1px solid #353535;
    padding: 15px 23px;
    font-size: 16px;
    border-radius: 8px;
    color: #979797;
    width: 100%;
    box-shadow: rgb(136 136 136 / 17%) 0px -23px 25px 0px inset,
      rgb(81 81 81 / 23%) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  
  .input-group input:focus {
    border-color: #0173ed;
    outline: none;
  }
  
  button {
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #0173ed;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0173ed;
  }
  
  .bottom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
  }
  
  .bottom-text a {
    color: #0173ed;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .bottom-text a:hover {
    color: #3f95f2;
  }
  